{% extends "FormArmorBundle::admin_layout.html.twig" %}
{% block FormArmor_body %}
	<h3>Affichage des inscripts</h3>


  
	<script>
		$(function() {
			$('#menu4').attr('class', 'active');
		});
	</script>

{% endblock %}
